

/* GENERAL SETTINGS*/

* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; }




body { background-color: #ffffff; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; min-height: 100vh; }



header { text-align: center; margin: 20px 0; }



header h1 { font-size: 2.8rem; color: #2c3e50; }








/* MENU */

nav ul { list-style: none; display: flex; justify-content: center; background-color: #00b4d8; padding: 10px 0; width: 100%; border-radius: 10px; }



nav ul li { margin: 0 15px; }



nav ul li a { outline: none; text-decoration: none; color: #ffffff; font-weight: bold; transition: color 0.3s; }









/* MAIN BODY */

main { display: flex; justify-content: space-evenly; align-items: flex-start; width: 95%; max-width: 1400px; gap: 30px; margin-top: 36px; flex-wrap: wrap; margin-bottom: 50px; }
















#overview { flex: 0 0 45%; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgb(0 180 216); height: 260px; text-align: center; }



#overview h2 { color: #34495e; margin-bottom: 10px; text-align: center; }



#overview p { text-align: center; padding: 10px; color: #1abc9c; font-weight: 700; }



#overview p span { font-weight: 700; color: #00b4d8; }











#charts{ flex: 0 0 55%; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgb(0 180 216); height: 280px; text-align: center; }


#charts h2 { color: #34495e; margin-bottom: 10px; text-align: center; }


#charts-container { text-align: center; padding: 10px; color: #1abc9c; padding-top: 40px; }


/* #charts-container p { text-align: center; padding: 0px; color: #1abc9c; font-weight: 700; word-wrap: break-word; } */


#performanceChart { width: 100% !important; height: 200px !important; display: block !important; box-sizing: border-box !important; margin-top: -20px !important; }











#activity-log { flex: 0 0 75%; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgb(0 180 216); height: 300px; text-align: center; }



#activity-log h2 { color: #34495e; margin-bottom: 20px; text-align: center; }
      


#log-list { font-weight: 700; list-style-type: none; padding: 10px; margin: 0 auto; max-width: 800px; background-color: #f0f8ff; border-radius: 10px; box-shadow: 0 0 10px rgba(0,180,216,0.3); font-family: 'Poppins', sans-serif; color: #199980; text-align: center; overflow-y: auto; max-height: 200px; word-wrap: break-word; }



#log-list li { margin-bottom: 1em; }



#log-list li.extra-space { margin-bottom: 3em; }













/* FOOTER */

footer { width: 100%; background-color: #00b4d8; color: #fff; text-align: center; padding: 8px 0; margin-top: auto; position: relative; }


footer p { color: #fff; font-weight: 600; }


.footer-links a { color: #0c3651; text-decoration: none; margin: 0 8px; }


.footer-links { margin-top: 5px; } 
















 /* Responsive - Mobile (max 600px) */

@media (max-width: 600px) {
  

  body { padding: 10px !important; flex-direction: column !important; }

  header { margin: 15px 0 !important; }

  header h1 { font-size: 1.8rem !important; color: #2c3e50 !important; } 



  nav ul { flex-wrap: wrap !important; align-items: center !important; padding: 8px 0 !important; border-radius: 8px !important; gap: 32px !important; }

  nav ul li { margin: 8px 0 !important; }

  nav ul li a { font-size: 0.95rem !important; color: #ffffff !important; } 







  main { flex-wrap: wrap !important; align-items: flex-start !important; justify-content: space-evenly !important; width: 95% !important; margin-top: 30px !important; 
    margin-bottom: 25px !important; gap: 20px !important; }








#overview { flex: 0 0 66% !important; background-color: #fff !important; padding: 20px !important; border-radius: 10px !important; box-shadow: 0 0 10px rgb(0 180 216) !important; height: 225px !important; text-align: center !important; }


#overview h2 { font-size: 1.2rem !important; text-align: center !important; margin-bottom: 6px !important; }


#overview p { text-align: center !important; padding: 7px !important; color: #1abc9c !important; font-weight: 700 !important; }


#overview p span { font-weight: 700; color: #00b4d8; margin-right: 0px !important; }








#charts{ flex: 0 0 82% !important; background-color: #fff !important; padding: 20px !important; border-radius: 10px !important; box-shadow: 0 0 10px rgb(0 180 216) !important; height: 280px !important; text-align: center !important; }


#charts h2 { font-size: 1.2rem !important; text-align: center !important; margin-bottom: 6px !important; }


/* #charts-container p { text-align: center !important; padding: 0px !important; color: #1abc9c !important; font-weight: 700 !important; word-wrap: break-word !important; } */


#charts-container { text-align: center !important; padding: 8px !important; color: #1abc9c !important; padding-top: 40px !important; }


#performanceChart { width: 100% !important; height: 200px !important; display: block !important; box-sizing: border-box !important; margin-top: -12px !important; }












#activity-log { flex: 0 0 98% !important; background-color: #fff !important; padding: 20px !important; border-radius: 10px !important; box-shadow: 0 0 10px rgb(0 180 216) !important; height: 300px !important; text-align: center !important; }


#activity-log h2 { font-size: 1.2rem !important; text-align: center !important; margin-bottom: 15px !important; }


#log-list { font-weight: 700 !important; list-style-type: none !important; padding: 10px !important; margin: 0 auto !important; max-width: 400px !important; background-color: #f0f8ff !important; border-radius: 10px !important; box-shadow: 0 0 10px rgba(0,180,216,0.3) !important; font-family: 'Poppins', sans-serif !important; color: #199980 !important; text-align: center !important; overflow-y: auto !important; max-height: 200px !important; word-wrap: break-word !important; }


#log-list li { margin-bottom: 1em !important; }


#log-list li.extra-space { margin-bottom: 3em !important; }













footer { width: 106% !important; padding: 12px 0 !important; text-align: center !important; position: relative !important; margin: 0 !important; left: 0 !important; bottom: -10px !important; }

footer p { font-size: 14px !important; font-weight: 600 !important; margin: 0 !important; }

    
.footer-links { margin-top: 8px !important; }

.footer-links a { color: #0c3651 !important; text-decoration: none !important; margin: 0 6px !important; font-size: 14px !important; } }

















/* Responsive - Tablet (601px - 922px) */


@media (min-width: 601px) and (max-width: 922px) {




 body { padding: 15px !important; flex-direction: column !important; }

 header { margin: 18px 0 !important; }

 header h1 { font-size: 2.2rem !important; color: #2c3e50 !important; } 





 nav ul { flex-wrap: wrap !important; justify-content: center !important; padding: 10px 0 !important; }

 nav ul li { margin: 10px 12px !important; }

 nav ul li a { font-size: 1rem !important; }





 main { flex-wrap: wrap !important; align-items: flex-start !important; justify-content: space-evenly !important; width: 95% !important; margin-top: 32px !important; 
    margin-bottom: 27px !important; gap: 23px !important; }







#overview { flex: 0 0 68% !important; background-color: #fff !important; padding: 21px !important; border-radius: 10px !important; box-shadow: 0 0 10px rgb(0 180 216) !important; height: 225px !important; text-align: center !important; }


#overview h2 { font-size: 1.4rem !important; text-align: center !important; margin-bottom: 8px !important; margin-top: -10px !important; }


#overview p { text-align: center !important; padding: 8px !important; color: #1abc9c !important; font-weight: 700 !important; }


#overview p span { font-weight: 700; color: #00b4d8; margin-right: 0px !important; } 







#charts{ flex: 0 0 84% !important; background-color: #fff !important; padding: 20px !important; border-radius: 10px !important; box-shadow: 0 0 10px rgb(0 180 216) !important; height: 280px !important; text-align: center !important; }


#charts h2 { font-size: 1.4rem !important; text-align: center !important; margin-bottom: 10px !important; margin-top: -10px !important; }


/* #charts-container p { text-align: center !important; padding: 2px !important; color: #1abc9c !important; font-weight: 700 !important; word-wrap: break-word !important; } */


#charts-container { text-align: center !important; padding: 10px !important; color: #1abc9c !important; padding-top: 47px !important; }


#performanceChart { width: 100% !important; height: 200px !important; display: block !important; box-sizing: border-box !important; margin-top: -22px !important; }












#activity-log { flex: 0 0 100% !important; background-color: #fff !important; padding: 22px !important; border-radius: 10px !important; box-shadow: 0 0 10px rgb(0 180 216) !important; height: 300px !important; text-align: center !important; }


#activity-log h2 { font-size: 1.4rem !important; text-align: center !important; margin-bottom: 15px !important; margin-top: -10px !important; }


#log-list { font-weight: 700 !important; list-style-type: none !important; padding: 12px !important; margin: 3px auto !important; max-width: 600px !important; background-color: #f0f8ff !important; border-radius: 10px !important; box-shadow: 0 0 10px rgba(0,180,216,0.3) !important; font-family: 'Poppins', sans-serif !important; color: #199980 !important; text-align: center !important; overflow-y: auto !important; max-height: 200px !important; word-wrap: break-word !important; }


#log-list li { margin-bottom: 1em !important; }


#log-list li.extra-space { margin-bottom: 3em !important; }












footer { width: 104% !important; padding: 12px 0 !important; text-align: center !important; position: relative !important; margin: 0 !important; left: 0 !important; bottom: -25px !important; }

footer p { font-size: 14px !important; font-weight: 600 !important; margin: 0 !important; }

    
.footer-links { margin-top: 8px !important; }

.footer-links a { color: #0c3651 !important; text-decoration: none !important; margin: 0 6px !important; font-size: 14px !important; } }




