



/* GENERAL SETTINGS*/

* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; }




body { background-color: #ffffff; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; min-height: 100vh; }



header { text-align: center; margin: 20px 0; }



header h1 { font-size: 2.8rem; color: #2c3e50; }





/* MENU */

nav ul { list-style: none; display: flex; justify-content: center; background-color: #00b4d8; padding: 10px 0; width: 100%; border-radius: 10px; }



nav ul li { margin: 0 15px; }



nav ul li a { outline: none; text-decoration: none; color: #ffffff; font-weight: bold; transition: color 0.3s; }










/* MAIN BODY */

main { display: flex; justify-content: space-between; align-items: flex-start; width: 95%; max-width: 1400px; gap: 30px; margin-top: 115px; flex-wrap: wrap; }












/* TASKS-OVERVIEW */


#task-overview {  flex: 0 0 48%; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgb(0 180 216); height: 300px; }


#task-overview h2 { color: #34495e; margin-bottom: 10px; text-align: center; }


#task-overview th { text-align: center; padding: 10px; color: #1abc9c; padding-left: 35px; padding-right: 37px; }


#task-overview table { width: 100%; border-collapse: collapse; color: #2c3e50; }


#task-table td { padding: 0px 0;  }








[class^="wrapper-"] { color: #34495e; font-weight: 600; text-align: center; position: relative; transition: all 0.3s ease; }








.wrapper-john { color: #34495e; font-weight: 600; text-align: center; margin-top: -6px; }


.wrapper-elizabeth { color: #34495e; font-weight: 600; text-align: center; margin-top: -7px; }


.wrapper-michael { color: #34495e; font-weight: 600; text-align: center; margin-top: -17px; margin-right: 7px; margin-left: 7px; }


.wrapper-emily { color: #34495e; font-weight: 600; text-align: center; margin-top: -7px; }













/* ADD TASK SECTION */

#add-task { flex: 0 0 48%; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgb(0 180 216); height: 324px; }


#add-task h2 { color: #34495e; margin-bottom: 12px; text-align: center; }




#task-form { display: flex; flex-direction: column; gap: 12px; }


#task-form label { font-weight: 700; color: #1abc9c; }






#task-form input { border: 2px solid #00b4d8; border-radius: 5px; outline: none; padding: 8px; }


#task-form button { margin-top: 13px; padding: 10px 15px; border: none; border-radius: 10px; background-color: #1abc9c; color: white; font-weight: bold; cursor: pointer; transition: background 0.3s; }














/* FOOTER */

footer { width: 100%; background-color: #00b4d8; color: #fff; text-align: center; padding: 8px 0; margin-top: auto; position: relative; }


footer p { color: #fff; font-weight: 600; }


.footer-links a { color: #0c3651; text-decoration: none; margin: 0 8px; }


.footer-links { margin-top: 5px; }
























/* Responsive - Mobile (max 600px) */
@media (max-width: 600px) {



  body { padding: 10px !important; flex-direction: column !important; }

  header { margin: 15px 0 !important; }

  header h1 { font-size: 1.8rem !important; color: #2c3e50 !important; }

  



  nav ul { flex-wrap: wrap !important; align-items: center !important; padding: 8px 0 !important; border-radius: 8px !important; gap: 32px !important; }

  nav ul li { margin: 8px 0 !important; }

  nav ul li a { font-size: 0.95rem !important; color: #ffffff !important; }




  main { display: flex !important; justify-content: center !important; align-items: center !important;  width: 95% !important; gap: 20px !important; margin-top: 40px !important; }








  #task-overview { width: 100% !important; height: 300px !important; }

  #task-overview h2 { font-size: 1.2rem !important; text-align: center !important; margin-bottom: 6px !important; }



  #task-overview th { padding: 12px !important; }

  #task-overview table { width: 100% !important; font-size: 14px !important; border-collapse: collapse !important; }

  











[class^="wrapper-"] { color: #34495e !important; text-align: center !important; position: relative !important; transition: all 0.3s ease !important; }






.wrapper-john { color: #34495e !important; font-weight: 600 !important; text-align: center !important; margin-top: -15px !important; }


.wrapper-elizabeth { color: #34495e !important; font-weight: 600 !important; text-align: center !important; margin-top: -7px !important; }


.wrapper-michael { color: #34495e !important; font-weight: 600 !important; text-align: center !important; margin-top: -15px !important; margin-right: 0px !important; margin-left: 0px !important; }


.wrapper-emily { color: #34495e !important; font-weight: 600 !important; text-align: center !important; margin-top: -13px !important; }














  #add-task { flex: 0 0 100% !important; width: 100% !important; height: 307px !important; }


  #add-task h2 { font-size: 1.2rem !important; text-align: center !important; margin-bottom: 16px !important; }






  #task-form { display: flex !important; flex-direction: column !important; gap: 14px !important; }


  #task-form label { font-weight: 700 !important; color: #1abc9c !important; font-size: 14px !important; }





  #task-form input { border: 2px solid #00b4d8 !important; border-radius: 5px !important; outline: none !important; padding: 6px !important; font-size: 14px !important; }


  #task-form button { padding: 8px 12px !important; border: none !important; border-radius: 8px !important; background-color: #1abc9c !important; 

  	color: white !important; font-weight: bold !important; cursor: pointer !important; font-size: 14px !important; margin-top: 12px !important; }











footer { width: 106% !important; padding: 12px 0 !important; text-align: center !important; position: relative !important; margin: 0 !important; left: 0 !important; bottom: -35px !important; }

footer p { font-size: 14px !important; font-weight: 600 !important; margin: 0 !important; }

    
.footer-links { margin-top: 8px !important; }

.footer-links a { color: #0c3651 !important; text-decoration: none !important; margin: 0 6px !important; font-size: 14px !important; } }



















/* Responsive - Tablet (601px - 922px) */


@media (min-width: 601px) and (max-width: 922px) {
  
  
  body { padding: 15px !important; flex-direction: column !important; }

  header { margin: 18px 0 !important; }

  header h1 { font-size: 2.2rem !important; color: #2c3e50 !important; }






  nav ul { flex-wrap: wrap !important; justify-content: center !important; padding: 10px 0 !important; }

  nav ul li { margin: 10px 12px !important; }

  nav ul li a { font-size: 1rem !important; }









  main { display: flex !important; justify-content: flex-start; align-items: flex-start !important; width: 100% !important; gap: 20px !important; margin-top: 115px !important; flex-wrap: nowrap !important; }







  #task-overview { width: 100% !important; height: 320px !important; }


  #task-overview h2 { font-size: 1.4rem !important; text-align: center !important; margin-bottom: 6px !important; }


  #task-overview th { padding: 10px !important; }
  

  #task-overview table { width: 100% !important; border-collapse: collapse !important; }









[class^="wrapper-"] {
  color: #34495e !important;
  text-align: center !important;
  position: relative !important;
  transition: all 0.3s ease !important;
  white-space: normal !important;
  overflow-wrap: break-word !important;
}







.wrapper-john { color: #34495e !important; font-weight: 800 !important; text-align: center !important; margin-top: -15px !important; margin-right: -11px !important; margin-left: -11px !important; overflow-wrap: anywhere !important; font-size: 13px !important; word-break: break-word !important; }


.wrapper-elizabeth { color: #34495e !important; font-weight: 800 !important; text-align: center !important; margin-top: -7px !important; margin-right: -11px !important; margin-left: -11px !important; overflow-wrap: anywhere !important; font-size: 13px !important; word-break: break-word !important; }


.wrapper-michael { color: #34495e !important; font-weight: 800 !important; text-align: center !important; margin-top: -15px !important; margin-right: -11px !important; margin-left: -12px !important; overflow-wrap: anywhere !important; font-size: 13px !important; word-break: break-word !important; }


.wrapper-emily { color: #34495e !important; font-weight: 800 !important; text-align: center !important; margin-top: -19px !important; margin-right: -11px !important; margin-left: -11px !important; overflow-wrap: anywhere !important; font-size: 13px !important; word-break: break-word !important; }





















  #add-task { flex: 0 0 48% !important; height: 345px !important; }


  #add-task h2 { font-size: 1.4rem !important; text-align: center !important; margin-bottom: 18px !important; }



  #task-form { display: flex !important; flex-direction: column !important; gap: 16px !important; margin-top: -8px !important; }




  #task-form label { font-weight: 700 !important; color: #1abc9c !important; font-size: 16px !important; }


  #task-form input { border: 2px solid #00b4d8 !important; border-radius: 6px !important; outline: none !important; padding: 8px !important; font-size: 15px !important; }





  #task-form button { padding: 10px 16px !important; border: none !important; border-radius: 10px !important; background-color: #1abc9c !important; color: white !important; font-weight: bold !important; cursor: pointer !important; font-size: 15px !important; margin-top: 15px !important; }











footer { width: 104% !important; padding: 10px 0 !important;  text-align: center !important; position: relative !important; bottom: -22px !important;}

footer p { font-size: 16px !important; font-weight: 600 !important; margin: 0 !important; }



.footer-links { margin-top: 6px !important; }

.footer-links a { color: #0c3651 !important; text-decoration: none !important; margin: 0 7px !important; font-size: 16px !important; } }
