

/* GENERAL SETTINGS*/

* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; }




body { background-color: #ffffff; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; min-height: 100vh; }



header { text-align: center; margin: 20px 0; }



header h1 { font-size: 2.8rem; color: #2c3e50; }








/* MENU */

nav ul { list-style: none; display: flex; justify-content: center; background-color: #00b4d8; padding: 10px 0; width: 100%; border-radius: 10px; }



nav ul li { margin: 0 15px; }



nav ul li a { outline: none; text-decoration: none; color: #ffffff; font-weight: bold; transition: color 0.3s; }









/* MAIN BODY */

main { display: flex; justify-content: space-evenly; align-items: flex-start; width: 95%; max-width: 1400px; gap: 30px; margin-top: 33px; flex-wrap: nowrap; }








/* TEAM LIST SECTION */

#team-list { flex: 0 0 55%; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgb(0 180 216); height: 300px; }



#team-list h2 { color: #34495e; margin-bottom: 10px; text-align: left; }




#team-list th  { text-align: center; padding: 10px; color: #1abc9c; padding-left: 36px; padding-right: 75px; }



#team-list table { width: 100%; border-collapse: collapse; color: #2c3e50; }











.member-row td {  transition: all 0.3s ease; padding: 10px 0 10px 0; padding-top: 0px; }




.member-row td:nth-child(1) { color: #34495e; font-weight: 600; text-align: center; padding-bottom: 54px; padding-right: 38px; }


.member-row td:nth-child(2) { color: #34495e; font-weight: 600; text-align: center; padding: 5px 29px; padding-left: 0px; padding-top: 0px; }


.member-row td:nth-child(3) { color: #34495e; font-weight: 600; text-align: center; padding-bottom: 57px; padding-right: 18px; }







.sophia-row td:nth-child(1) { color: #34495e; font-weight: 600; text-align: center; padding-bottom: 54px; padding-right: 38px; }

.sophia-row td:nth-child(2) { color: #34495e; font-weight: 600; text-align: center; padding: 5px 29px; padding-left: 0px; padding-top: 0px; }

.sophia-row td:nth-child(3) { color: #34495e; font-weight: 600; text-align: center; padding-bottom: 57px; padding-right: 18px; }








.liam-row td:nth-child(1) { color: #34495e; font-weight: 600; text-align: center; padding-bottom: 60px; padding-right: 38px; }

.liam-row td:nth-child(2) { color: #34495e; font-weight: 600; text-align: center; padding: 5px 29px; padding-left: 0px; padding-top: 0px; vertical-align: top; }

.liam-row td:nth-child(3) { color: #34495e; font-weight: 600; text-align: center; padding-bottom: 60px; padding-right: 18px; }










.olivia-row td:nth-child(1) { color: #34495e; font-weight: 600; text-align: center; padding-bottom: 60px; padding-right: 38px; }

.olivia-row td:nth-child(2) { color: #34495e; font-weight: 600; text-align: center; padding: 5px 29px; padding-left: 0px; padding-top: 0px; vertical-align: top; }

.olivia-row td:nth-child(3) { color: #34495e; font-weight: 600; text-align: center; padding-bottom: 60px; padding-right: 18px; }






















/* ADD MEMBER SECTION */

#add-member { flex: 0 0 40%; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgb(0 180 216); height: 400px; margin-top: 20px; }


#add-member h2 { color: #34495e; margin-bottom: 12px; text-align: center; }


#member-form { display: flex; flex-direction: column; gap: 12px; }


#member-form label { font-weight: 700; color: #1abc9c; }


#member-form input { border: 2px solid #00b4d8; border-radius: 5px; outline: none; padding: 8px; }


#member-form button { padding: 10px 15px; border: none; border-radius: 10px; background-color: #1abc9c; color: white; font-weight: bold; cursor: pointer; transition: background 0.3s; }










.pexels-section { display: flex; justify-content: center; margin-top: -3px; position: relative; z-index: 1; }


.pexels-img { width: 100%; max-width: 600px; display: flex; margin-right: 452px; border-radius: 15px; margin-top: -88px; pointer-events: none; }










/* FOOTER */

footer { width: 100%; background-color: #00b4d8; color: #fff; text-align: center; padding: 8px 0; margin-top: auto; position: relative; }


footer p { color: #fff; font-weight: 600; }


.footer-links a { color: #0c3651; text-decoration: none; margin: 0 8px; }


.footer-links { margin-top: 5px; } 

















/* Responsive - Mobile (max 600px) */
@media (max-width: 600px) {



  body { padding: 10px !important; flex-direction: column !important; }

  header { margin: 15px 0 !important; }

  header h1 { font-size: 1.8rem !important; color: #2c3e50 !important; }

  



  nav ul { flex-wrap: wrap !important; align-items: center !important; padding: 8px 0 !important; border-radius: 8px !important; gap: 32px !important; }

  nav ul li { margin: 8px 0 !important; }

  nav ul li a { font-size: 0.95rem !important; color: #ffffff !important; }




  main { width: 100% !important; display: block !important; justify-content: space-between !important; align-items: center !important;  width: 100% !important; gap: 0px !important; margin-top: 15px !important; }








  #team-list { width: 100% !important; height: 300px !important; } 

  
  #team-list h2  { font-size: 1.2rem !important; text-align: center !important; margin-bottom: 6px !important; } 


  #team-list th  { padding: 12px !important; } 


  #team-list table { width: 100% !important; font-size: 14px !important; border-collapse: collapse !important; }
  












.member-row td {  transition: all 0.3s ease !important; padding: 10px 0 10px 0 !important; padding-top: 0px !important; }




.member-row td:nth-child(1) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding-bottom: 154px !important; padding-right: 0px !important; padding-top: 0px !important;}

.member-row td:nth-child(2) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding: 5px 29px !important; padding-left: 0px !important; padding-right: 0px !important; padding-top: 0px !important; padding-bottom: 49px !important; }

.member-row td:nth-child(3) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding-bottom: 154px !important; padding-right: 0px !important; padding-top: 0px !important; }







.sophia-row td:nth-child(1) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding-bottom: 154px !important; padding-right: 0px !important; padding-top: 0px !important; }

.sophia-row td:nth-child(2) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding: 5px 29px !important; padding-left: 0px !important; padding-right: 0px !important; padding-top: 0px !important; padding-bottom: 91px !important; }

.sophia-row td:nth-child(3) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding-bottom: 154px !important; padding-right: 0px !important; padding-top: 0px !important; }








.liam-row td:nth-child(1) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding-bottom: 105px !important; padding-right: 0px !important; }

.liam-row td:nth-child(2) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding: 5px 29px !important; padding-left: 30px !important; padding-top: 0px !important; vertical-align: top !important; padding-bottom: 0px !important; }

.liam-row td:nth-child(3) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding-bottom: 105px !important; padding-right: 0px !important; }











.olivia-row td:nth-child(1) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding-bottom: 127px !important; padding-right: 0px !important; padding-left: 0px !important; padding-top: 0px !important; }

.olivia-row td:nth-child(2) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding: 5px 29px !important; padding-left: 7px !important; padding-top: 0px !important; vertical-align: top !important; padding-bottom: 0px !important; padding-right: 0px !important; }

.olivia-row td:nth-child(3) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding-bottom: 127px !important; padding-right: 0px !important; padding-left: 0px !important; padding-top: 0px !important; }















  #add-member { width: 82% !important; height: 400px !important; left: 71px !important; position: relative !important; margin-right: 0px !important; } 


  #add-member h2  { font-size: 1.2rem !important; text-align: center !important; margin-bottom: 16px !important; }
      

  #member-form { display: flex !important; flex-direction: column !important; gap: 14px !important; }



  #member-form label {font-weight: 700 !important; color: #1abc9c !important; font-size: 14px !important; }


  #member-form input { border: 2px solid #00b4d8 !important; border-radius: 5px !important; outline: none !important; padding: 6px !important; font-size: 14px !important; }


  #member-form button {  padding: 8px 12px !important; border: none !important; border-radius: 8px !important; background-color: #1abc9c !important; color: white !important; font-weight: bold !important; cursor: pointer !important; font-size: 14px !important; margin-top: 12px !important; }








  .pexels-section { justify-content: center !important; margin-top: 36px !important; }


  .pexels-img { width: 95% !important; max-width: none !important; margin: 10px auto !important; border-radius: 15px !important; margin-top: -20px !important; pointer-events: none; display: block !important; }












footer { width: 105% !important; padding: 12px 0 !important; text-align: center !important; position: relative !important; margin: 0 !important; left: 0 !important; bottom: -10px !important; }

footer p { font-size: 14px !important; font-weight: 600 !important; margin: 0 !important; }

    
.footer-links { margin-top: 8px !important; }

.footer-links a { color: #0c3651 !important; text-decoration: none !important; margin: 0 6px !important; font-size: 14px !important; } }













/* Responsive - Tablet (601px - 922px) */


@media (min-width: 601px) and (max-width: 922px) {




  body { padding: 15px !important; flex-direction: column !important; }

  header { margin: 18px 0 !important; }

  header h1 { font-size: 2.2rem !important; color: #2c3e50 !important; }






  nav ul { flex-wrap: wrap !important; justify-content: center !important; padding: 10px 0 !important; }

  nav ul li { margin: 10px 12px !important; }

  nav ul li a { font-size: 1rem !important; }








  main { flex-wrap: nowrap !important;  justify-content: space-evenly !important;  gap: 20px !important;  width: 100% !important; margin-top: 42px !important; }

 








  #team-list { width: 100% !important; height: 300px !important; }


  #team-list h2 { font-size: 1.4rem !important;  text-align: center !important; margin-bottom: 8px !important; }


  #team-list th { text-align: center !important; padding: 8px !important; color: #1abc9c !important; }


  #team-list table { width: 100% !important; border-collapse: collapse !important; table-layout: fixed !important; word-wrap: break-word !important; }











.member-row td {  transition: all 0.3s ease !important; padding: 10px 0 10px 0 !important; padding-top: 0px !important; }




.member-row td:nth-child(1) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding-bottom: 175px !important; padding-right: 0px !important; padding-right: 0px !important; padding-top: 0px !important; }

.member-row td:nth-child(2) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding: 5px 29px !important; padding-left: 0px !important; padding-right: 1px !important; padding-top: 0px !important; padding-bottom: 50px !important; }

.member-row td:nth-child(3) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding-bottom: 150px !important; padding-right: 0px !important; padding-top: 0px !important; padding-left: 2px !important; }







.sophia-row td:nth-child(1) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding-bottom: 215px !important; padding-right: 0px !important; padding-top: 0px !important; padding-left: 5px !important; }

.sophia-row td:nth-child(2) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding: 5px 29px !important; padding-left: 0px !important; padding-right: 0px !important; padding-top: 1px !important; padding-bottom: 90px !important; }

.sophia-row td:nth-child(3) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding-bottom: 191px !important; padding-right: 0px !important; padding-top: 0px !important; padding-left: 0px !important; }








.liam-row td:nth-child(1) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding-bottom: 216px !important; padding-right: 0px !important; padding-left: 0px !important; padding-top: 0px !important;}

.liam-row td:nth-child(2) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding: 5px 29px !important; padding-left: 0px !important; padding-right: 0px !important; padding-top: 1px !important; padding-bottom: 90px !important; vertical-align: top !important; }

.liam-row td:nth-child(3) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding-bottom: 191px !important; padding-right: 0px !important; padding-left: 9px !important; padding-top: 0px !important; }








.olivia-row td:nth-child(1) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding-bottom: 189px !important; padding-right: 1px !important; padding-left: 0px !important; padding-top: 0px !important; }

.olivia-row td:nth-child(2) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding: 5px 29px !important; padding-left: 0px !important; padding-right: 0px !important; padding-top: 1px !important; padding-bottom: 90px !important; vertical-align: top !important; }

.olivia-row td:nth-child(3) { color: #34495e !important; font-weight: 600 !important; text-align: center !important; padding-bottom: 164px !important; padding-right: 0px !important; padding-left: 1px !important; padding-top: 0px !important; }















  #add-member { padding: 15px !important; border-radius: 10px !important; margin-top: 15px !important; }


  #add-member h2 { font-size: 1.4rem !important; text-align: center !important; margin-bottom: 16px !important; }

  
  #member-form { margin-top: -8px !important; gap: 10px !important; align-items: stretch !important; padding: 5px !important; }


  #member-form label { font-weight: 700 !important; color: #1abc9c !important; font-size: 16px !important; }





  #member-form input { border: 2px solid #00b4d8 !important; border-radius: 6px !important; outline: none !important; padding: 8px !important; font-size: 15px !important; }


  #member-form button { padding: 12px 18px !important; border: none !important; border-radius: 10px !important; background-color: #1abc9c !important; color: #fff !important; font-weight: bold !important; cursor: pointer !important; transition: background 0.3s !important; font-size: 16px !important; width: 100% !important; margin-top: 12px !important;}








  .pexels-section { display: flex !important; flex-direction: column !important;  justify-content: center !important; align-items: center !important; margin-top: -7px !important; position: relative !important; z-index: 1 !important; gap: 15px !important; margin-right: 283px !important;}


  .pexels-img { width: 90% !important; max-width: 400px !important; display: flex !important; margin-right: 0 !important; border-radius: 12px !important; margin-top: -88px !important; pointer-events: none !important; }













footer { width: 104% !important; padding: 10px 0 !important;  text-align: center !important; position: relative !important; bottom: -21px !important;}

footer p { font-size: 16px !important; font-weight: 600 !important; margin: 0 !important; }



.footer-links { margin-top: 6px !important; }

.footer-links a { color: #0c3651 !important; text-decoration: none !important; margin: 0 7px !important; font-size: 16px !important; } }
